body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  outline: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, p, span {
  margin: 0;
  padding: 0;
}
